body {
  min-height: 100%;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Montserrat; }

nav {
  display: flex;
  align-items: center; }
  nav img {
    height: 50px; }
  nav ul {
    flex: 2;
    justify-content: space-around;
    display: flex;
    list-style: none; }
    nav ul li {
      font-size: 14px; }
    nav ul a {
      text-decoration: none;
      color: black; }
    nav ul a:hover {
      border-bottom: 3px solid black; }

.hero {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 550px; }

.description {
  margin-top: 0px;
  width: 35vw;
  margin-left: 30px; }
  .description h2 {
    font-size: 40px;
    font-weight: bold; }
  .description p {
    line-height: 200%;
    font-size: 14px;
    font-weight: 400; }
  .description button {
    margin-top: 30px;
    height: 40px;
    width: 100px;
    background-color: #9f74e8;
    border: 0px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white; }
  .description button:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid #9f74e8;
    color: #9f74e8; }
  .description .btn-outline {
    background-color: white;
    border: 2px solid #9f74e8;
    color: #9f74e8; }
  .description .btn-outline:hover {
    background-color: #9f74e8;
    border: 0px;
    color: white; }

.short-info {
  width: 95vw;
  margin: 0 auto; }
  .short-info h2 {
    font-size: 40px;
    font-weight: bold; }
  .short-info p {
    color: grey;
    width: 90vw;
    line-height: 200%;
    font-size: 15px;
    font-weight: 400; }

.portfolio {
  width: 95vw;
  margin: 100px auto; }
  .portfolio h2 {
    font-size: 40px;
    font-weight: bold; }
  .portfolio .card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; }
    .portfolio .card img {
      width: 40vw;
      height: 300px; }
    .portfolio .card p {
      width: 30vw;
      line-height: 200%;
      font-size: 16px;
      font-weight: 400; }

.video {
  margin: 0 auto;
  width: 95vw;
  height: 500px; }
  .video iframe {
    height: 500px;
    width: 95vw; }

footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #9f74e8;
  color: white; }
  footer p {
    font-size: 14px;
    font-weight: bold; }

@media screen and (max-width: 768px) {
  .portfolio {
    margin-right: auto;
    margin-left: auto; }
    .portfolio .card {
      background-color: #eeebf0;
      flex-direction: column; }
      .portfolio .card img {
        width: 95vw; }
      .portfolio .card p {
        width: 95vw; }

  .mask {
    height: 60px;
    overflow: hidden; }

  .line {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer; }

  #line {
    width: 28px;
    height: 2px;
    margin-top: 5px;
    background-color: white; }

  nav {
    width: 100vw;
    background-color: #9f74e8;
    height: 500px;
    flex-direction: column;
    align-items: flex-start; }
    nav ul {
      width: 80vw;
      margin: 0 auto;
      flex-direction: column;
      align-items: center; }
      nav ul li {
        margin: 0 auto;
        color: white; }

  .description {
    width: 90vw;
    margin: 100px auto; }

  .video {
    margin: 0 auto;
    width: 95vw;
    height: 300px; }
    .video iframe {
      height: 300px;
      width: 95vw; } }

/*# sourceMappingURL=style.css.map */
